<ul>
  <li>
    <LinkTo @route="index">Home</LinkTo>
  </li>
  <li>
    <LinkTo @route="actors">Actors</LinkTo>
  </li>
  <li>
    <LinkTo @route="scientists">Scientists</LinkTo>
  </li>
  <li>
    <LinkTo @route="counter">Counter</LinkTo>
  </li>
</ul>

{{yield}}